.filter {
    border-bottom: 0.06rem solid #555;
    margin-bottom: 1.25rem;
    padding-bottom: 1.25rem;
}

.filter-options {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    div {
        flex: 1 1 0;
    }
}

.button-asc-desc {
    background-color: #81008d;
    color: #fff;
    padding: 0.3rem 0.6rem;
    margin-right: 0.6rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}