body{
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 1.8rem;
  color:#333;
  background-image: url('./src/assets/img/bg.jpg');
  background-position: center;
  background-size: cover;
 }
 .app{
  max-width: 37.5rem;
  margin: 0 auto 18.7rem;
  background-color: #efefef;
  padding:  1.2rem 1.8rem;
  border-radius: 0.6rem;
 }

 .h1{
  text-align: center;
 }

 .h2{
  margin-bottom: 0.6rem;
 }

 .p{
  margin: 0.6rem 0;
 }

 input{
  box-sizing: border-box;
 }

button:hover{
  opacity: 1;
}

.todo-list {
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 0.06rem solid #555;
}

input, select {
  padding: 0.3rem;
  margin-bottom: 0.6rem;
  border: 0.06rem solid #DDD;
  border-radius: 0.1rem;
  width: 100%
}